/**
 * @file Styling for the search interface and related modals
 * @author griffinj@lafayette.edu
 *
 */

#islandora-dss-solr-facet-pages-facets-form #edit-fields {

    overflow-y: scroll;
    max-height: 224px;
}

/*
 * Taken from http://sliptree.github.io/bootstrap-tokenfield/
 */

.islandora-solr-facet-token {

    -moz-box-sizing: border-box;
    background-color: #EDEDED;
    border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    cursor: default;
    display: inline-block;
    height: 22px;
    margin: -1px 5px 5px 0;
    vertical-align: top;
}

.main-container.loading {

    background-image: url('../files/loader_80_80.gif');
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 160px;
}

.fancy-box-container.loading {

    background-image: url('../files/loader_65_65.gif');
    background-position: center;
    background-repeat: no-repeat;
    /* height: 160px; */
}

.islandora-solr-search-results.loading {

    background-image: url('../files/loader_65_65.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 128px;
}
